<% @page_title = "Homepage" %>
<script>
var animate_i = 0;
var animate_array = ["<image src='http://www.unm.edu/features/2015/graduation-2015.jpg'/>", "<image src ='http://www.unm.edu/features/2015/ecuador.jpg' />", "<image src='http://www.unm.edu/features/2015/food-pantry.jpg' />", "<image src='http://www.unm.edu/features/2015/receiver.jpg' />", "<image src='http://www.unm.edu/features/2015/vet.jpg' />"];
var animate_elem;
function animateNext(){
	animate_i++;
	animate_elem.style.opacity= 0;
	if(animate_i>animate_array.length - 1 ){
		animate_i =0;
	}
	setTimeout('animateSlide()',1000);
}
function animateSlide(){
	animate_elem.innerHTML = animate_array[animate_i];
	animate_elem.style.opacity = 1;
	setTimeout('animateNext()',3000);
}
</script>
<div style="width:128.5%;height:420px;background-color:#c10037; margin-left:-10%">
	<div style="width:970px">
		<span id="animate"></span>
	</div>
	<div style="width:20%">
		<div>
			<a class="btn" style="  background: #DAA733;" href="/courses">All about courses at UNM!</a>
		</div>
		<div>
			<a class="btn" style="  background: #777D12;"  href="/courses">Choose your courses</a>
		</div>
		<div>
			<a class="btn" style="  background: #00356A;" href="/courses">Know the prerequisites</a>
		</div>	
	</div>
</div>
<div>
<p id="homeTitle" > Welcome to UNM’s Online Catalog </p>
<p style="margin-left:5%; margin-right:15%; font-family:arial;font-size:16px;">The online Catalog is the University’s primary, comprehensive single source of departmental, college and university-wide information related to academic programs. Courses, degree programs, and policies that govern progress towards completion of a degree are described in the Catalog. Students are responsible for knowing and understanding the contents of the Catalog they are following. The Catalog provides a broad spectrum of course information in a consistent format and is a fully searchable and user-friendly online Catalog.</br><br>Whether you are a prospective student or enrolled at UNM, you will find we have provided you with a powerful set of tools to help you quickly locate and track details for undergraduate and graduate programs and courses that are important to you. You also will find links to other useful information. Access to prior editions of the Catalog is available in the archives section of this site.</br></br>We think you will find using this online Catalog to be easy and enjoyable! </br></br><b>Disclaimer: </b>The University of New Mexico reserves the right to make changes in the course offerings, degree requirements, charges, regulations, and procedures contained herein as educational and financial considerations require, subject to and consistent with established procedures and authorizations for making such change.</p>
</div>
<script>
animate_elem = document.getElementById("animate"); 
animateSlide();
</script>




