@import url(https://fonts.googleapis.com/css?family=Raleway|Abel|Amiri|Marmelad|Open+Sans);
@import "bootstrap-sprockets";
@import "bootstrap";
@import "base";
@import "courses";

body{
  color: $base-color;
  font-family: $opensans;
  height: 100%;
  margin: 0;
}

/*  NAVBAR STYLING   */
.navbar-default{
font-family: $navbar-font;
background-color: $unm-red;
border-color: none;
color: #FFFFFF;

}

//Change Navbar Brand Color Below
.navbar-default .navbar-brand{
  font-weight: bolder;
  color: #FFFFFF;
}

//Change Navbar Brand Hover Color Below
 .navbar-default .navbar-brand:hover,
 .navbar-default .navbar-brand:focus {
   color: black;
   background-color: transparent;
 }

//Change the link colors of Navbar Below
 .navbar-default .navbar-nav > li > a {
   color: #FFFFFF;
 }

//Change the hover color of active below
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFFFFF;
  background-color: #500000;
}
//Change the hover color of links below
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
    color: #FFFFFF;
    background-color: darken($unm-red, 5);
}
// This is where we will change the hover color
// of links that are using dropdown menus!

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
  color: black;
  background-color: darken($unm-red, 5);

}

//CSS for contact us page, homepage, faq page

fieldset {
border: 1px solid #009343;
    background: #fbfaf6;
    padding: 22px 25px 12px 33px;
    margin: 28px 0;
}

.fieldset .legend {
    float: left;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #009343;
    background: #fff;
    color: #054D27;
    margin: -33px 0 0 -10px;
    padding: 0 8px;
    position: relative;
}

ul,ol { list-style:none; }
li {text-align:left;}

.login-wrap .login-form-input {

    height: 35px;
    font-size: 15px;
    padding-left: 15px;
    color: #333;
    background: #fff;
    border: 1px solid #c3c3c3;
}

.title{
    float:left;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top:10px;
    font-family: sans-serif;
}
.fk-input {
    font-size: 13px;
    padding: 5px 6px;
    border: 1px solid #ccc;
    resize: none;
    font-family: inherit;
    width: 300px;
}


 .submit-btn {
    float: left;
    width: 118px;
    height: 40px;
    font-size: 15px;
    background: #c10037;
    border: 1px solid #da7532;
    border-radius: 2px;
    outline: 0;
    color: #f9f9f9;
    text-transform: uppercase;
    cursor: pointer;
    text-shadow: 0 0 1px rgba(0,0,0,0.33);
    margin-left: 90px;
    margin-top: 5px;

}

.submit-btn:hover{
background: #FF0040;
}

.verticalLine {
    border-left: thick solid #ff0000;
}

<<<<<<< HEAD
//body {
//  height: 100%;
//  margin: 0;
//}

//div{
//float:left;
//}

=======
>>>>>>> ab5916d9c2ddd268ca8018d28bc18d8412cc5262
#left{
	left:20%;
	width: 49%;
}
#center{
	width:2%;
}
#right{
	right:49%;
}
.vr {
    margin-top:8%;
    margin-bottom:8%;
    width:1px;
    background-color:#000;
    position:absolute;
    top:1%;
    bottom:0;
    left:45%;
}

.address {
    font-weight:normal;
    float:left;
    font-size: 16px;
    margin-bottom: 4px;
    margin-top: 4px;
    font-family: sans-serif;
}

.question {
font-weight: bold;
color: #c10037;
}

#animate{
	opacity: 0;
	-webkit-transition:opacity 1.0s linear 0s;
	transition: opacity 1.0s linear 0s;
}

#homeTitle{
font-family:arial;text-align:center; margin-top:20px; font-size:20px; font-weight:bold;
}

.btn {

  width:400px;
  background-image: -webkit-linear-gradient(top, #DAA733, #DAA733);
  background-image: -moz-linear-gradient(top, #DAA733, #DAA733);
  background-image: -ms-linear-gradient(top, #DAA733, #DAA733);
  background-image: -o-linear-gradient(top, #DAA733, #DAA733);
  background-image: linear-gradient(to bottom, #DAA733, #DAA733);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left:40px;

  text-decoration: none;
  margin-left: 10%;
  margin-top: 10%;
}

.main_header{
  font-family: $opensans;
}
